* {
  box-sizing: border-box;
}
body {
  background-color: rgb(223, 219, 219);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
  max-width: 100%;
  width: 600px;
}

.progress-container:before {
  content: "";
  background-color: rgb(192, 180, 180);
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.progress {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 0%;
  z-index: -1;
  transition: 0.3s ease;
  transform: translateY(-50%);
}

.circle {
  background-color: rgb(251, 251, 251);
  color: rgb(192, 180, 180);
  border-radius: 50px;
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(192, 180, 180);
  transition: 0.3s ease;
}

.circle.active {
  border-color: rgb(38, 125, 179);
}

.btn {
  background-color: rgb(38, 125, 179);
  color: white;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 20px;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: rgb(175, 175, 165);
  cursor: not-allowed;
}
